main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.eyes {
  position: relative;
  background-color: #ffeb3b;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 3px;
  overflow: hidden;
  margin: 5px;
}

.eye-retina {
  display: inline-block;
  width: 50%;
  height: 50%;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eye-lash {
  position: absolute;
  height: 50%;
  background: orange;
  width: 100%;
  z-index: 1;
}

.up {
  top: -50%;
  animation: blinkbottom 10s linear infinite;
}

.down {
  bottom: -50%;
  animation: blinkup 10s linear infinite;
}

@keyframes blinkbottom {
  0% {
    top: -50%;
  }
  5% {
    top: 0;
  }
  10% {
    top: -50%;
  }
}

@keyframes blinkup {
  0% {
    bottom: -50%;
  }
  5% {
    bottom: 0;
  }
  10% {
    bottom: -50%;
  }
}
